nav {
    z-index: 2;
    width: 100%;

    @media (max-width: 1200px) {
        background-color: rgb(92, 42, 120, 0.5);
        padding: 16px 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .nav-link {
            color: $white;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            margin-right: 2rem;
            border-bottom: 1px solid transparent;
            transition: all 0.7s;

            &:hover {
                border-bottom: 4px solid $primary;
            }

            @media (max-width: 1400px) {
                font-size: 15px;
            }

            @media (max-width: 1200px) {
                color: $dark;
                text-align: center;
            }
        }
    }
}

.logo {
    width: 21rem;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5));

    @media (max-width: 1400px) {
        width: 14.5rem;
    }

    @media (max-width: 1200px) {
        width: 100%;
    }
}

.logo-section {
    @media (max-width: 1200px) {
        width: 12rem;
        max-width: calc(100% - 65px);
        position: relative;
        margin-bottom: -50px;
    }
}